<div class="login">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="login-doc">
          <h2>Your <span>dream job </span> is waiting here </h2>
        <p>Let your talents, personality and potential do the talking. We give you the opportunity to share your story through.</p>
       <!-- <app-search></app-search> -->
        </div>
      </div>
      <div class="col-lg-6">
        <div class="wrapper fadeInDown">
          <div id="formContent">
            <div class="login-dic">
              <h2>LOGIN NOW!</h2>
              <div class="go_login">
                <h6>Don't have an account ?</h6>
                <a routerLink="/auth/signup"> Join us </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
