.onbording-page {
  padding-top: 120px;
  background: #f7f7f7;
  vertical-align: middle;
  .content {
    h2 {
      // font-size: 90px;
      font-weight: bold;
      span {
        color: var(--main-color);
      }
    }
    p {
      // font-size: 24px;
      // max-width: 600px;
      color: var(--grey-100);
    }
    // form {
    //   margin: 10px 30px;
    //   // padding: 5px 14px;
    //   padding: 0 10px;
    //   width: 507px;
    //   height: 69px;
    //   border-radius: var(--border-input-radius);
    //   border: 3px solid var(--main-color);
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;
    //   .search-input {
    //     display: flex;
    //     height: 100%;
    //     align-items: center;
    //     padding-left: 10px;
    //     i {
    //       width: 34px;
    //       height: 34px;
    //       color: var(--main-color);
    //       font-size: 2rem;
    //       font-weight: bold;
    //     }
    //     input {
    //       margin: 19px 10px 0;
    //       height: 70%;
    //       border: none;
    //       color: var(--main-color);
    //       padding: 10px 0;
    //       &::placeholder {
    //         font-size: 25px;
    //       }
    //     }
    //   }
    // }
  }
  .img-wrppear {
    // background-size: 100% 100%;
    // background-repeat: no-repeat;
    // height: 500px;
    // background-image: url("../../../assets/images/onbording/onbording.png");
    img {
      width: 100%;
    }
    .Upload-file {
      display: flex;
      justify-self: end;
      align-items: center;
      flex-direction: column;
      bottom: 30px;
      left: 60%;
      position: absolute;
      transform: translate(60%, -121%);

      .filelabel {
        background-color: white;
        border-radius: 3px;
        width: 40px;
        margin: auto;
        padding: 5px;
        cursor: pointer;
        text-align: center;
        i {
          transition: 200ms color;
          width: 30px;
          height: 30px;
          border-radius: 3px;
          background-color: var(--grey-900);
          color: var(--main-color);
        }
        .title {
          color: grey;
          transition: 200ms color;
        }
        #FileInput {
          display: none;
        }
      }
      div {
        text-align: center;
        background-color: var(--main-color);
        width: 181px;
        font-size: 16px;
        color: var(--white);
        padding: 12px 0;
        border-radius: var(--border-button-radius);
        span {
          font-size: 14px;
          color: var(--oof_white-01);
        }
      }
    }
  }
  .findJob {
    border: 3px solid var(--bg-main-color);
    border-radius: 10px;
  }
  .search {
    font-size: 1.5rem;
    color: var(--text-main-color);
    &::placeholder {
      font-size: 1.5rem;
      color: var(--text-main-color);
    }
  }
  .pi-search {
    color: var(--text-main-color) !important;
  }
  .upload-file {
    bottom: -40px;
    right: 0;
    .upload-cv {
      box-shadow: 0px 3px 6px #3a538046;
      border: 3px solid #3a5380;
      border-radius: 14px;
    }
    .upload-icon {
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 7px;
      width: 60px;
      height: 60px;
      margin-bottom: -10px !important;
      position: relative;
      z-index: 7;
      .icon {
        background-color: #9da9c0;
        border-radius: 3px;
        width: 45px;
        height: 45px;
      }
    }
  }
  .few-second {
    color: #fefefe;
    opacity: 0.5;
  }
  .who-trust {
    p {
      font-size: 24px;
      color: var(--grey-100);
      font-style: normal;
    }
    .content-img {
      // padding: 14px;
      // width: 503px;
      // height: 90px;
      box-shadow: 3px 3px 6px #ffffff14;
      border: 2px solid #3a5380;
      border-radius: 14px;
      img {
        width: 25%;
        padding: 0 10px;
      }
    }
  }
  .baged {
    .countries {
      // padding: 0 35px;
      position: relative;
      .number {
        font-size: 60px;
        color: var(--black);
        position: relative;
        z-index: 2;
        &::after {
          content: "";
          width: 43px;
          height: 43px;
          left: -12px;
          top: 10px;
          border-radius: 50%;
          position: absolute;
          border: 1px solid transparent;
          // background-color: #333;
          background-color: #cdd3df;
          z-index: -1;
        }
      }
      .dic {
        font-size: 20px;
        margin-top: -7px;
      }
    }
  }
}
