.recomended-content {
  background-color: #ebeef5;
  box-shadow: 0px 3px 6px #3a53804d;
  border-radius: 8px;
}
.recommended {
  --bs-gutter-x: 0.7rem;
  --bs-gutter-y: 0.7rem;
}
.profile-img {
  margin-top: -40px;
}
