<ng-container *ngIf="true">
  <nav [class.navbar-bg]="scrollDown" class="navbar navbar-expand-lg bg-white-color  position-fixed w-100 px-4"
    [class.shadow-none]="moduleType=='dashboard' && !toggleSideMenu"
    [class.dash]="moduleType=='dashboard' && !toggleSideMenu">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center m-0">
        <img src="../../../../assets/images/logo/logo.jfif" alt="logo" class="logo">
      </a>
      <button class="navbar-toggler border-0 gap-2" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars text-main-color fs-4"></i>
      </button>
      <div class="collapse navbar-collapse justify-content-between gap-2" id="navbarSupportedContent">
        <div class="d-flex gap-2 search-inputs">
          <ng-container *ngIf="isLogged">
            <span class="p-input-icon-right ms-4">
              <ng-container *ngIf="search.value">
                <i (click)="clearSearchValue(search)" class="pi pi-times text-danger cursor-pointer"></i>
              </ng-container>
              <i class="pi pi-search"></i>
              <input type="text" #search (keyup.enter)="searchHandlerEmit(search?.value)"
                placeholder="{{'placeholder.search'|translate}}" class="form-control search" />
            </span>
            <ng-container *ngIf="url=='/apply-job'">
              <span class="p-input-icon-right">
                <ng-container *ngIf="search.value">
                  <i (click)="clearSearchValue(search)" class="pi pi-times text-danger cursor-pointer"></i>
                </ng-container>
                <i class="fas fa-location-dot"></i>
                <input type="text" #search (keyup.enter)="searchHandlerEmit(search?.value)"
                  placeholder="{{'placeholder.address'|translate}}" class="form-control search" />
              </span>
            </ng-container>
          </ng-container>
        </div>
        <ul class="navbar-nav gap-4 align-items-center mb-2 mb-lg-0">
          <ng-container *ngIf="isLogged;else noLogged">
            <li class="nav-item ">
              <a class="nav-link text-main-color lh-0" routerLink="/home" routerLinkActive="active">
                <i class="fas fa-home"></i>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link lh-0" routerLink="/apply-job" routerLinkActive="active">
                <i class="fas fa-briefcase"></i>
                <!-- <i class="pi pi-shopping-bag"></i> -->
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link lh-0" routerLink="/calender" routerLinkActive="active">
                <i class="fas fa-calendar-o"></i>
              </a>
            </li>
            <li class="nav-item ">
              <!-- <a class="nav-link lh-0">
                <i class="fas fa-bell"></i>
              </a> -->
              <app-notification></app-notification>
            </li>
          </ng-container>

          <ng-template #noLogged>
            <li class="nav-item ">
              <a class="nav-link text-main-color" routerLink="/auth/login">{{'form.login'|translate}}</a>
            </li>
            <li class="nav-item ">
              <button class="main-button" routerLink="/auth/register">{{'form.signUp'|translate}}</button>
            </li>
          </ng-template>

          <li class="nav-item ">
            <app-theme></app-theme>
          </li>
          <li class="nav-item ">
            <app-language-selector></app-language-selector>
          </li>
          <ng-container *ngIf="isLogged">
            <li class="nav-item user-info position-relative">
              <app-user-info></app-user-info>
            </li>
          </ng-container>

        </ul>
      </div>
    </div>
  </nav>

</ng-container>