.p-password,
.p-inputtext,
.p-treeselect,
.p-multiselect,
.p-inputgroup > .p-element,
p-inputnumber,
.p-inputnumber,
.p-dropdown,
.p-input-icon-right > .p-inputtext,
.p-calendar {
  width: 100% !important;
}

// switch
#modal {
  .p-inputswitch {
    transform: scale(0.85) !important;
  }
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background-color: var(--bg-main-color) !important;
}
.p-column-filter-buttonbar .p-button {
  background-color: var(--bg-main-color) !important;
  color: var(--text-white-color) !important;
}

.p-column-filter-buttonbar .p-button-outlined {
  border-color: var(--bg-main-color) !important;
  color: var(--text-main-color) !important;
  background-color: transparent !important;
}
.p-column-filter-buttonbar .p-button {
  background-color: var(--bg-main-color) !important;
  color: var(--text-white-color) !important;
}

.p-column-filter-buttonbar .p-button-outlined {
  border-color: var(--bg-main-color) !important;
  color: var(--text-main-color) !important;
  background-color: transparent !important;
}
.p-inputnumber .p-button {
  background-color: var(--bg-main-color) !important;
  border-color: var(--bg-main-color) !important;
}
.p-calendar-w-btn .p-datepicker-trigger {
  background-color: var(--bg-main-color) !important;
  border-color: var(--bg-main-color) !important;
}
.border-red {
  .p-password-input {
    border-color: #dc3545 !important;
  }
}
.p-checkbox .p-checkbox-box {
  background-color: var(--bg-input-color) !important;
}

#profile-modal {
  .form-control,
  .form-control:focus,
  .form-control:focus-visible,
  .form-select,
  .form-select:focus,
  .form-select:focus-visible,
  .ng-select.ng-select-single .ng-select-container,
  .p-dropdown {
    height: 2.4rem !important;
    border-radius: 6px !important;
    padding: 1rem !important;
  }
  .iti--allow-dropdown input[type="tel"],
  .iti--allow-dropdown input {
    padding-left: 70px !important;
  }
  .p-dropdown.p-dropdown-clearable .p-dropdown-label {
    padding: 0 !important;
    overflow: initial !important;
  }
  .p-calendar {
    width: 100% !important;
  }
  .p-calendar-w-btn .p-inputtext {
    height: 2.4rem !important;
    border-radius: 6px 0 0 6px !important;
    padding: 1rem !important;
    border-right: 0;
  }
  .p-calendar-w-btn .p-datepicker-trigger {
    height: 2.4rem !important;
    background-color: transparent !important;
    color: var(--text-main-color);
    border-left: 0;
  }
  .label {
    opacity: 75%;
  }
  .required:after {
    margin: 0;
    color: var(--text-main-color) !important;
    opacity: 75%;
  }
}
