.p-treeselect.p-treeselect-chip .p-treeselect-token {
  background: rgba(0, 0, 0, 0.04);
  color: var(--text-dark-color);
}

.p-treeselect-panel .p-treeselect-items .p-treeselect-item,
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  margin: 5px;
  border-radius: 5px;
}

.p-treeselect-panel .p-treeselect-items .p-treeselect-item.p-highlight,
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  background: rgba(0, 0, 0, 0.04);
  color: var(--text-dark-color);
}

.p-treeselect .p-treeselect-label {
  line-height: initial !important;
}

.p-checkbox .p-checkbox-box.p-highlight {
  background-color: var(--bg-main-color) !important;
  border-color: var(--bg-main-color) !important;
}

.ng-select.ng-select-single .ng-select-container {
  height: 3.4rem;
  border-radius: 6px;
  border: 1px solid #ced4da !important;

  &::placeholder {
    color: #6c757d !important;
  }
}

.p-fluid .p-dropdown .p-dropdown-label {
  border: 0 !important;
  line-height: initial !important;
}

.select-loading {
  &.p-input-icon-right > i:last-of-type {
    right: 2.5rem;
  }
}
.p-column-filter-constraint {
  .p-treeselect .p-treeselect-panel {
    min-width: 16rem !important;
    right: 0;
    position: absolute;
  }
}
.p-treeselect-panel
  .p-treeselect-header
  .p-treeselect-filter-container
  .p-inputtext {
  background-color: var(--bg-white-color) !important;
  height: 2.8rem !important;
}

.p-treeselect-trigger-icon
{
  color: var(--bg-main-color) !important;
}
