<div class="auth-form  min-vh-100" id="registration">
  <div class="container  d-flex justify-content-center align-items-center h-100 form-content">
    <div class="firstdiv w-100"
      ngClass="{{currentLang=='en'&&step==1?'en-step1-bg':currentLang=='en'&&step==2?'en-step2-bg':currentLang=='ar'&&step==1?'ar-step1-bg':'ar-step2-bg'}}">
      <div class="row justify-content-end align-items-center">
        <div class="col-lg-7 col-md-12 ">
          <div class="global-card p-sm-5 p-4 align-items-end  ">
            <ng-container *ngIf="step==1">
              <div>
                <h2 class="text-main-color form-title"> {{'form.create-account'|translate}}</h2>
                <form [formGroup]="firstRegisterForm" (ngSubmit)="submitFirstForm()" class="pt-3">
                  <div class="mb-4">
                    <div class="input-container">
                      <i class="fa-regular fa-user"></i>
                      <input type="text" class="form-control" formControlName="username" autocomplete="cc-name"
                        (input)="publicService.clearValidationErrors(firstFormControls?.username)"
                        [class.is-invalid]="firstFormControls?.username?.invalid && (firstFormControls?.username?.dirty || firstFormControls?.username?.touched)"
                        placeholder="{{'placeholder.fullname'|translate}}">
                    </div>
                    <ng-container
                      *ngIf="firstFormControls?.username?.invalid && (firstFormControls?.username?.dirty || firstFormControls?.username?.touched)">
                      <div class="mt-2">
                        <ng-container *ngIf="firstFormControls?.username?.errors?.['required']">
                          <span class="text-danger fs-8 ps-3">
                            {{'validations.requiredName'|translate}}
                          </span>
                        </ng-container>
                        <ng-container *ngIf="firstFormControls?.username?.errors?.['pattern']">
                          <span class="text-danger fs-8 d-block ps-3">
                            {{'validations.name_length'|translate}}
                          </span>
                        </ng-container>
                        <ng-container *ngIf="firstFormControls?.username?.errors?.['minlength']">
                          <span class="text-danger fs-8 d-block ps-3">
                            {{'validations.length'|translate}}
                          </span>
                        </ng-container>
                      </div>
                    </ng-container>
                  </div>
                  <div class="mb-4">
                    <div class="input-container">
                      <i class="fa-regular fa-envelope"></i>
                      <input type="email" class="form-control" formControlName="email" autocomplete="cc-name"
                        (input)="publicService.clearValidationErrors(firstFormControls?.email)"
                        [class.is-invalid]="firstFormControls?.email?.invalid && (firstFormControls?.email?.dirty || firstFormControls?.email?.touched)"
                        placeholder="{{'placeholder.email'|translate}}">
                    </div>
                    <div class="mt-2">
                      <ng-container
                        *ngIf="firstFormControls?.email?.invalid && (firstFormControls?.email?.dirty || firstFormControls?.email?.touched)">
                        <ng-container *ngIf="firstFormControls?.email?.errors?.['required']">
                          <span class="text-danger fs-8 ps-3">
                            {{'validations.requiredEmail'|translate}}
                          </span>
                        </ng-container>
                        <ng-container *ngIf="firstFormControls?.email?.errors?.['pattern']">
                          <span class="text-danger fs-8 d-block ps-3">
                            {{'validations.not_valid'|translate}}
                          </span>
                        </ng-container>
                        <ng-container *ngIf="firstFormControls?.email?.errors?.['minlength']">
                          <span class="text-danger fs-8 d-block ps-3">
                            {{'validations.emailNotCorrect'|translate}}
                          </span>
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>
                  <div class="mb-4">
                    <div class="rounded-input p-mask"
                      [class.border-red]="firstFormControls?.password?.invalid && (firstFormControls?.password?.dirty ||firstFormControls?.password?.touched)"
                      [class.is-valid]="firstFormControls?.password?.valid && (firstFormControls?.password?.dirty || firstFormControls?.password?.touched)">
                      <p-password [toggleMask]="true" formControlName="password"
                        placeholder="{{'placeholder.password'|translate}}" autocomplete="cc-name" [feedback]="false">
                      </p-password>
                    </div>
                    <ng-container
                      *ngIf="firstFormControls?.password?.invalid && (firstFormControls?.password?.dirty || firstFormControls?.password?.touched)">
                      <div class="mt-2 ps-3">
                        <ng-container *ngIf="firstFormControls?.password?.errors?.['required']">
                          <span class="text-danger fs-8 ">
                            {{'validations.requiredPassword'|translate}}
                          </span>
                        </ng-container>
                        <ng-container *ngIf="firstFormControls?.password?.errors?.['pattern']">
                          <span class="text-danger fs-8">
                            {{'validations.passwordPattern'|translate}}
                          </span>
                        </ng-container>
                      </div>
                    </ng-container>
                  </div>
                  <div class="mb-4">
                    <div class="rounded-input p-mask"
                      [class.border-red]="firstFormControls?.confirmPassword?.invalid && (firstFormControls?.confirmPassword?.dirty ||firstFormControls?.confirmPassword?.touched)"
                      [class.is-valid]="firstFormControls?.confirmPassword?.valid && (firstFormControls?.confirmPassword?.dirty || firstFormControls?.confirmPassword?.touched)">
                      <p-password [toggleMask]="true" formControlName="confirmPassword"
                        placeholder="{{'placeholder.repeatpassword'|translate}}" autocomplete="cc-name"
                        [feedback]="false">
                      </p-password>
                    </div>
                    <ng-container
                      *ngIf="firstFormControls?.confirmPassword?.invalid && (firstFormControls?.confirmPassword?.dirty || firstFormControls?.confirmPassword?.touched)">
                      <div class="mt-2 ps-3">
                        <ng-container *ngIf="firstFormControls?.confirmPassword?.errors?.['required']">
                          <span class="text-danger fs-8">
                            {{'validations.requiredConfirmPassword'|translate}}
                          </span>
                        </ng-container>
                        <ng-container *ngIf="firstFormControls?.confirmPassword?.errors?.['pattern']">
                          <span class="text-danger fs-8 ps-3">
                            {{'validations.passwordPattern'|translate}}
                          </span>
                        </ng-container>
                        <ng-container *ngIf="firstFormControls?.confirmPassword?.errors?.['ConfirmPassword']">
                          <span class="text-danger fs-8">
                            {{'validations.not_matched'|translate}}
                          </span>
                        </ng-container>
                      </div>
                    </ng-container>
                  </div>
                  <div class="d-flex justify-content-between my-3">
                    <div class="field-checkbox d-flex ">
                      <div class="d-flex justify-content-baseline">
                        <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                      </div>
                      <label class="form-check-label mx-2" for="flexCheckChecked">
                        {{'form.terms'|translate}} <a class="terms">{{'form.terms-conditions'|translate}}</a>
                      </label>
                    </div>
                  </div>

                  <button type="submit" class="btn w-100 btn-solid-main form-btn form-btn ">
                    <span>
                      {{'form.next'|translate}}
                    </span>
                  </button>
                </form>
              </div>
            </ng-container>

            <ng-container *ngIf="step==2">
              <div>
                <i class="pi pi-arrow-left fs-5 text-main-color mb-3" (click)="step=1"></i>
                <h2 class="text-main-color form-title"> {{'general.yourprofile'|translate}}</h2>
                <form [formGroup]="secondRegisterForm" (ngSubmit)="submitSecondRegForm()" class="pt-3 sign_up">
                  <div class="d-flex justify-content-center mb-4">
                    <input type="file" id="profilePicture" accept="image/*" (change)="selectImage($event)" hidden>
                    <div class="w-auto position-relative">
                      <ng-container *ngIf="isLoadingImage; else loadingImage">
                        <app-skeleton [type]="'image'"></app-skeleton>
                      </ng-container>
                      <ng-template #loadingImage>
                        <ng-container *ngIf="imgFilePath">
                          <div (click)="removeImage()"
                            class="d-flex justify-content-center align-items-center remove-img rounded-circle bg-white-color shadow pointer">
                            <i class="pi pi-times text-danger"></i>
                          </div>
                        </ng-container>
                        <div
                          class="profile-img rounded-circle d-flex justify-content-center align-items-center position-relative">
                          <ng-container *ngIf="imgFilePath; else noImg">
                            <img [src]="imgFileSrc" class="img-src" alt="">
                          </ng-container>
                          <ng-template #noImg>
                            <i class="pi pi-camera fs-2"></i>
                          </ng-template>

                          <label for="profilePicture"
                            class="add-photo d-flex justify-content-center align-items-center">
                            <!-- <div > -->
                            <a class="fs-6-1 text-center text-white-color">{{'general.addPhoto'|translate}}</a>
                            <!-- </div> -->
                          </label>
                        </div>
                      </ng-template>

                    </div>
                  </div>
                  <div class="mb-4">
                    <div
                      [class.border-red]="(secondFormControls?.['phone_number']?.touched || secondFormControls?.['phone_number']?.dirty) && secondFormControls?.['phone_number']?.invalid">
                      <ngx-intl-tel-input class="px-1 intel-tel-input" [preferredCountries]="[
                      CountryISO.SaudiArabia,
                      CountryISO.Egypt
                    ]" [enableAutoCountrySelect]="false" [enablePlaceholder]="true" [searchCountryFlag]="true"
                        [searchCountryField]="[
                      SearchCountryField.Iso2,
                      SearchCountryField.Name
                    ]" [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.Egypt" [maxLength]="15"
                        [phoneValidation]="true" name="phone_number" formControlName="phone_number"
                        (input)="publicService?.clearValidationErrors(secondFormControls?.phone_number)">
                      </ngx-intl-tel-input>
                    </div>
                    <ng-container
                      *ngIf="secondFormControls?.phone_number?.invalid && (secondFormControls?.phone_number?.dirty || secondFormControls?.phone_number?.touched)">
                      <div class="mt-2">
                        <ng-container *ngIf="secondFormControls?.phone_number?.errors?.['required']">
                          <span class="text-danger fs-8 ps-3">
                            {{'validations.required_field'|translate}}
                          </span>
                        </ng-container>
                      </div>
                    </ng-container>
                  </div>
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="mb-4">
                        <span class="p-input-icon-right select-loading d-block">
                          <p-dropdown [options]="countries" formControlName="country" optionLabel="name" [filter]="true"
                            [virtualScroll]="true" [virtualScrollItemSize]="38" filterBy="name" appendTo="body"
                            [filterPlaceholder]="'placeholder.search'|translate" [readonly]="isLoadingCountry"
                            (onChange)="onChangeCountry($event)" emptyMessage="{{'general.no_result_found'|translate}}"
                            [class.ng-dirty]="secondFormControls?.country?.invalid && (secondFormControls?.country?.dirty || secondFormControls?.country?.touched)"
                            [showClear]="true" placeholder="{{'placeholder.country'|translate}}">
                          </p-dropdown>
                          <ng-container *ngIf="isLoadingCountry">
                            <i class="pi pi-spin pi-spinner"></i>
                          </ng-container>
                        </span>
                        <div class="mt-2">
                          <ng-container
                            *ngIf="secondFormControls?.country?.invalid && (secondFormControls?.country?.dirty || secondFormControls?.country?.touched)">
                            <ng-container *ngIf="secondFormControls?.country?.errors?.['required']">
                              <span class="text-danger fs-8 ps-3">
                                {{"validations.required_field"|translate}}
                              </span>
                            </ng-container>
                          </ng-container>
                        </div>
                      </div>


                    </div>
                    <div class="col-xl-6">
                      <div class="mb-4">
                        <span class="p-input-icon-right select-loading d-block">
                          <p-dropdown [options]="cities" formControlName="city" optionLabel="name" [filter]="true"
                            [filterPlaceholder]="'placeholder.search'|translate" [virtualScroll]="true"
                            [virtualScrollItemSize]="38" filterBy="name" appendTo="body" [readonly]="isLoadingCountry"
                            emptyMessage="{{'general.no_result_found'|translate}}"
                            [class.ng-dirty]="secondFormControls?.city?.invalid && (secondFormControls?.city?.dirty || secondFormControls?.city?.touched)"
                            [showClear]="true" placeholder="{{'placeholder.city'|translate}}">
                          </p-dropdown>
                          <!-- <ng-container *ngIf="isLoadingCountry">
                            <i class="pi pi-spin pi-spinner"></i>
                          </ng-container> -->
                        </span>
                        <div class="mt-2">
                          <ng-container
                            *ngIf="secondFormControls?.city?.invalid && (secondFormControls?.city?.dirty || secondFormControls?.city?.touched)">
                            <ng-container *ngIf="secondFormControls?.city?.errors?.['required']">
                              <span class="text-danger fs-8 ps-3">
                                {{"validations.required_field"|translate}}
                              </span>
                            </ng-container>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mb-4">
                    <input type="file" #uploadCV id="uploadCV" hidden (change)="selectFile($event)"
                      accept="application/pdf">
                    <span class="p-input-icon-right select-loading d-block">
                      <input type="text" class="form-control" autocomplete="cc-name"
                        [class.is-invalid]="secondFormControls?.cv?.invalid && (secondFormControls?.cv?.dirty || secondFormControls?.cv?.touched)"
                        placeholder="{{'placeholder.UploadResume'|translate}}">
                      <i for="uploadCV" (click)="uploadCV?.click()" class="pi pi-upload fs-5 fw-bold pointer"></i>
                    </span>
                    <div class="mt-2">
                      <ng-container
                        *ngIf="secondFormControls?.cv?.invalid && (secondFormControls?.cv?.dirty || secondFormControls?.cv?.touched)">
                        <ng-container *ngIf="secondFormControls?.cv?.errors?.['required']">
                          <span class="text-danger fs-8 ps-3">
                            {{'validations.required_field'|translate}}
                          </span>
                        </ng-container>
                      </ng-container>
                    </div>

                    <ng-container *ngIf="cvFileName && cvFilePath">
                      <div class="bg-light rounded-pill p-1">
                        <div class="mx-2 d-flex justify-content-between gap-2">
                          <div class="d-flex align-items-center gap-2">
                            <i class="pi pi-file text-main-color"></i>
                            <span>{{cvFileName}}</span>
                          </div>
                          <a><i class="pi pi-times text-danger" (click)="clearCvFile()"></i></a>
                        </div>
                      </div>
                    </ng-container>

                  </div>

                  <button type="submit" class="btn w-100 btn-solid-main form-btn form-btn">
                    <span>
                      {{'form.signUp'|translate}}
                    </span>
                  </button>
                </form>
              </div>
            </ng-container>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>