.auth-form {
  padding-top: 5.5rem;
  .firstdiv {
    background-image: url(../../../../assets/images/auth/register.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: center;
    border-radius: var(--border-radius-card);
  }

  // span {
  //   display: block;
  //   margin: -10px auto;
  // }

  .terms {
    color: var(--bg-main-color);
    text-decoration: underline;
    border-bottom: 1px solid var(--bg-main-color);
  }
}

// input[type="file"] {
//   display: none;
// }

.test {
  color: #6c757d !important;
  font-size: 20px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  position: absolute;
  top: 19px;
  // font-size: 1.25em;
  // font-weight: 700;
  // color: white;
  // background-color: black;
  // display: inline-block;
  // width: 100%;
}

// .inputfile:focus + label,
// .inputfile + label:hover {
//   background-color: red;
// }

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}
.bg-gray {
  background-color: #576f9333;
}
.pi-upload {
  color: var(--text-main-color) !important;
}
.photo {
  width: 150px;
}
