<div class="auth-form p-t-12">
  <div class="container">
    <div class="firstdiv ">
      <div class="row justify-content-end">
        <div class="col-lg-6 col-md-12 ">
          <!-- <ng-container *ngIf="showNextContent"> -->
          <ng-container *ngIf="!showNextContent">
            <div class="global-card p-sm-5 p-4 align-items-end">
              <!-- <div class="d-flex justify-content-end gap-2">
              <app-language-selector></app-language-selector>
            </div> -->
              <div class="content">
                <h2 class="text-center"> {{'general.yourprofile'|translate}}</h2>
              </div>
              <form [formGroup]="secondRegForm" (ngSubmit)="submitSecondRegForm()" class="pt-3 sign_up">
                <app-upload-image></app-upload-image>
                <!-- Phone Number -->
                <div class="mb-4">
                  <div class="input-container">
                    <i class="fa-regular fa-user"></i>
                    <input type="number" class="form-control" formControlName="phone_number" autocomplete="cc-name"
                      (input)="publicService.clearValidationErrors(secondFormControls?.phone_number)"
                      [class.is-invalid]="secondFormControls?.phone_number?.invalid && (secondFormControls?.phone_number?.dirty || secondFormControls?.phone_number?.touched)"
                      placeholder="{{'placeholder.mobilePhone'|translate}}">
                  </div>
                  <div class="mt-3">
                    <ng-container
                      *ngIf="secondFormControls?.phone_number?.invalid && (secondFormControls?.phone_number?.dirty || secondFormControls?.phone_number?.touched)">
                      <ng-container *ngIf="secondFormControls?.phone_number?.errors?.['required']">
                        <span class="text-danger fs-8 ps-3">
                          {{'validations.required_field'|translate}}
                        </span>
                      </ng-container>
                      <ng-container *ngIf="secondFormControls?.phone_number?.errors?.['minlength']">
                        <span class="text-danger fs-8 d-block ps-3">
                          {{'validations.length'|translate}}
                        </span>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-md-12">
                    <!-- Country -->
                    <div class="mb-4">
                      <!-- <div class="input-container">
                        <i class="fa-regular fa-user"></i>
                        <input type="text" class="form-control" formControlName="country" autocomplete="cc-name"
                          (input)="publicService.clearValidationErrors(secondFormControls?.country)"
                          [class.is-invalid]="secondFormControls?.country?.invalid && (secondFormControls?.country?.dirty || secondFormControls?.country?.touched)"
                          placeholder="{{'placeholder.country'|translate}}">
                      </div> -->

                      <select formControlName="country" name="select_box" class="form-select custom-select form-control"
                        placeholder="country">
                        <option value=""> {{'placeholder.country'|translate}} </option>
                        <option> eg</option>
                      </select>
                      <div class="mt-3">
                        <ng-container
                          *ngIf="secondFormControls?.country?.invalid && (secondFormControls?.country?.dirty || secondFormControls?.country?.touched)">
                          <ng-container *ngIf="secondFormControls?.country?.errors?.['required']">
                            <span class="text-danger fs-8 ps-3">
                              {{'validations.required_field'|translate}}
                            </span>
                          </ng-container>
                          <ng-container *ngIf="secondFormControls?.country?.errors?.['minlength']">
                            <span class="text-danger fs-8 d-block ps-3">
                              {{'validations.length'|translate}}
                            </span>
                          </ng-container>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6 col-md-12">
                    <!-- City -->
                    <div class="mb-4">
                      <!-- <div class="input-container">
                        <i class="fa-regular fa-user"></i>
                        <input type="text" class="form-control" formControlName="city" autocomplete="cc-name"
                          (input)="publicService.clearValidationErrors(secondFormControls?.city)"
                          [class.is-invalid]="secondFormControls?.city?.invalid && (secondFormControls?.city?.dirty || secondFormControls?.city?.touched)"
                          placeholder="{{'placeholder.state'|translate}}">
                      </div> -->
                      <select formControlName="state" name="select_box" class="form-select custom-select form-control"
                        placeholder="country">
                        <option value=""> {{'placeholder.country'|translate}} </option>
                        <option> eg</option>
                      </select>
                      <div class="mt-3">
                        <ng-container
                          *ngIf="secondFormControls?.city?.invalid && (secondFormControls?.city?.dirty || secondFormControls?.city?.touched)">
                          <ng-container *ngIf="secondFormControls?.city?.errors?.['required']">
                            <span class="text-danger fs-8 ps-3">
                              {{'validations.required_field'|translate}}
                            </span>
                          </ng-container>
                          <ng-container *ngIf="secondFormControls?.username?.errors?.['minlength']">
                            <span class="text-danger fs-8 d-block ps-3">
                              {{'validations.length'|translate}}
                            </span>
                          </ng-container>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>


                <!-- uplode CV
                <div class="mb-4">
                  <div class="input-container form-control">
                    <i class="pi pi-upload"></i>
                    <input type="file" name="file" id="file" class="inputfile bg-gray"
                      [class.is-invalid]="secondFormControls?.name_cv?.invalid && (secondFormControls?.name_cv?.dirty || secondFormControls?.name_cv?.touched)" />
                    <label for="file"> {{'placeholder.UploadResume'|translate}}</label>
                  </div>
                  <div class="mt-3">
                    <ng-container
                      *ngIf="secondFormControls?.name_cv?.invalid && (secondFormControls?.name_cv?.dirty || secondFormControls?.name_cv?.touched)">
                      <ng-container *ngIf="secondFormControls?.name_cv?.errors?.['required']">
                        <span class="text-danger fs-8 ps-3">
                          {{'validations.required_field'|translate}}
                        </span>
                      </ng-container>
                    </ng-container>
                  </div>
                </div> -->

                <div class="mb-4">
                  <div class="card flex justify-content-center">
                    <p-fileUpload name="demo[]" url="https://api.talentsgates.website/api/candidates/uploadcv"
                      (onUpload)="onUpload($event)" [multiple]="false" accept="application/pdf">
                      <ng-template pTemplate="content">
                        <ul *ngIf="uploadedFile">{{ uploadedFile.name }} - {{ uploadedFile.size }} bytes</ul>
                      </ng-template>
                    </p-fileUpload>
                  </div>
                </div>
                <button type="submit" class="btn w-100 btn-solid-main form-btn formcontrol-auth">
                  <span>
                    {{'form.signUp'|translate}}
                  </span>
                </button>
              </form>
            </div>
          </ng-container>

          <div class="global-card p-sm-5 p-4 align-items-end" *ngIf="!showNextContent">
            <!-- <div class="d-flex justify-content-end gap-2">
            <app-language-selector></app-language-selector>
          </div> -->

            <div class="content">
              <h2> {{'form.create-account'|translate}}</h2>
            </div>
            <form [formGroup]="firstRegForm" (ngSubmit)="submitFirstRegForm()" class="pt-3">
              <!-- Full Name -->
              <div class="mb-4">
                <div class="input-container">
                  <i class="fa-regular fa-user"></i>
                  <input type="text" class="form-control" formControlName="username" autocomplete="cc-name"
                    (input)="publicService.clearValidationErrors(firstFormControls?.username)"
                    [class.is-invalid]="firstFormControls?.username?.invalid && (firstFormControls?.username?.dirty || firstFormControls?.username?.touched)"
                    placeholder="{{'placeholder.fullname'|translate}}">
                </div>
                <div class="mt-3">
                  <ng-container
                    *ngIf="firstFormControls?.username?.invalid && (firstFormControls?.username?.dirty || firstFormControls?.username?.touched)">
                    <ng-container *ngIf="firstFormControls?.username?.errors?.['required']">
                      <span class="text-danger fs-8 ps-3">
                        {{'validations.requiredName'|translate}}
                      </span>
                    </ng-container>
                    <ng-container *ngIf="firstFormControls?.username?.errors?.['pattern']">
                      <span class="text-danger fs-8 d-block ps-3">
                        {{'validations.name_length'|translate}}
                      </span>
                    </ng-container>
                    <ng-container *ngIf="firstFormControls?.username?.errors?.['minlength']">
                      <span class="text-danger fs-8 d-block ps-3">
                        {{'validations.length'|translate}}
                      </span>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
              <!-- email address -->
              <div class="mb-4">
                <div class="input-container">
                  <i class="fa-regular fa-envelope"></i>
                  <input type="email" class="form-control" formControlName="email" autocomplete="cc-name"
                    (input)="publicService.clearValidationErrors(firstFormControls?.email)"
                    [class.is-invalid]="firstFormControls?.email?.invalid && (firstFormControls?.email?.dirty || firstFormControls?.email?.touched)"
                    placeholder="{{'placeholder.email'|translate}}">
                </div>
                <div class="mt-3">
                  <ng-container
                    *ngIf="firstFormControls?.email?.invalid && (firstFormControls?.email?.dirty || firstFormControls?.email?.touched)">
                    <ng-container *ngIf="firstFormControls?.email?.errors?.['required']">
                      <span class="text-danger fs-8 ps-3">
                        {{'validations.requiredEmail'|translate}}
                      </span>
                    </ng-container>
                    <ng-container *ngIf="firstFormControls?.email?.errors?.['pattern']">
                      <span class="text-danger fs-8 d-block ps-3">
                        {{'validations.not_valid'|translate}}
                      </span>
                    </ng-container>
                    <ng-container *ngIf="firstFormControls?.email?.errors?.['minlength']">
                      <span class="text-danger fs-8 d-block ps-3">
                        {{'validations.emailNotCorrect'|translate}}
                      </span>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
              <!-- password -->
              <div class="mb-4">
                <div class="rounded-input p-mask"
                  [class.border-red]="firstFormControls?.password?.invalid && (firstFormControls?.password?.dirty ||firstFormControls?.password?.touched)"
                  [class.is-valid]="firstFormControls?.password?.valid && (firstFormControls?.password?.dirty || firstFormControls?.password?.touched)">
                  <p-password [toggleMask]="true" formControlName="password"
                    placeholder="{{'placeholder.password'|translate}}" autocomplete="cc-name" [feedback]="false">
                  </p-password>
                </div>
                <div class="mt-3">
                  <ng-container
                    *ngIf="firstFormControls?.password?.invalid && (firstFormControls?.password?.dirty || firstFormControls?.password?.touched)">
                    <ng-container *ngIf="firstFormControls?.password?.errors?.['required']">
                      <span class="text-danger fs-8 ps-3">
                        {{'validations.requiredPassword'|translate}}
                      </span>
                    </ng-container>
                    <ng-container
                      *ngIf="firstFormControls?.password?.errors?.['minlength']|| firstFormControls?.password?.errors?.['maxlength']">
                      <span class="text-danger fs-8 ps-3">
                        {{'validations.pass_length'|translate}}
                      </span>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
              <!-- confirm password -->
              <div class="mb-4">
                <div class="rounded-input p-mask"
                  [class.border-red]="firstFormControls?.password?.invalid && (firstFormControls?.password?.dirty ||firstFormControls?.password?.touched)"
                  [class.is-valid]="firstFormControls?.password?.valid && (firstFormControls?.password?.dirty || firstFormControls?.password?.touched)">
                  <p-password [toggleMask]="true" formControlName="password"
                    placeholder="{{'placeholder.repeatpassword'|translate}}" autocomplete="cc-name" [feedback]="false">
                  </p-password>
                </div>
                <div class="mt-3">
                  <ng-container
                    *ngIf="firstFormControls?.password?.invalid && (firstFormControls?.password?.dirty || firstFormControls?.password?.touched)">
                    <ng-container *ngIf="firstFormControls?.password?.errors?.['required']">
                      <span class="text-danger fs-8 ps-3">
                        {{'validations.requiredPassword'|translate}}
                      </span>
                    </ng-container>
                    <ng-container
                      *ngIf="firstFormControls?.password?.errors?.['minlength']|| firstFormControls?.password?.errors?.['maxlength']">
                      <span class="text-danger fs-8 ps-3">
                        {{'validations.requiredConfirmPassword'|translate}}
                      </span>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
              <div class="d-flex justify-content-between my-3">
                <div class="field-checkbox d-flex ">
                  <!-- <input class="form-check-input m-0" type="checkbox" formControlName="remember" id="flexCheckChecked"> -->
                  <div class="d-flex justify-content-baseline">
                    <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                  </div>
                  <label class="form-check-label mx-2" for="flexCheckChecked">
                    {{'form.terms'|translate}} <a class="terms">{{'form.terms-conditions'|translate}}</a>
                  </label>
                </div>
              </div>






              <button type="submit" class="btn w-100 btn-solid-main form-btn formcontrol-auth">
                <span>
                  {{'form.next'|translate}}
                </span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>