.auth-form {
  .firstdiv {
    background-image: url(../../../../assets/images/auth/register.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: var(--border-radius-card);
  }
}
