.auth-form {
  .firstdiv {
    background-image: url(../../../../assets/images/auth/register.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--border-radius-card);
  }

  .content {
    h2 {
      font-size: 1.7rem;
      // padding-bottom: 10px !important;
      color: var(--text-main-color);
    }

  }

  span {
    display: block;
    margin: -10px auto;
  }

  .terms{
    color: var(--bg-main-color);
    text-decoration: underline;
    border-bottom: 1px solid var(--bg-main-color);
  }
}

input[type="file"] {
  display: none;
}

.test{
  color: #6c757d !important;
  font-size: 20px;
}



.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {

  position: absolute;
  top: 19px;
  // font-size: 1.25em;
  // font-weight: 700;
  // color: white;
  // background-color: black;
  // display: inline-block;
  // width: 100%;
}

// .inputfile:focus + label,
// .inputfile + label:hover {
//   background-color: red;
// }

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.bg-gray
{
  background-color: #576F9333;

}
