.auth-form {
  background-image: url(../../../../assets/images/auth/login.jpg);
  background-size: 100% 100%;
  border-radius: 30px;
  display: flex;
  justify-content: end;
  form {
    min-height: 100vh !important;
    border: none;
    // width: 725px;
    width: 45%;
    // height: 646px;
    text-align: center;
    color: var(--white);
    background-color: var(--white);
    border-radius: 30px;
    float: right;
    h2 {
      margin: 0 11%;
      text-align: start;
      color: var(--main-color);
      font-size: 32px;
      padding: 30px 0px;
  }

    .form-content {
      input {
        margin-bottom: 20px;
      }
    }
    .form-check-content {
      color: var(--grey-100);
      font-size: 15px;
      text-align: start;
      margin: 0 15% auto;
      a {
        color: var(--main-color);
      }
    }
  }
}
