<div class="container">

  <div class="auth-form">

    <div class="col-xl-12 col-md-12 ">
      <form>
        <h2>Complete your Profile</h2>
        <div class="row">
          <div class="col-12">
            <div class="form-content">
              <input type="number" class="form-input" name="username" placeholder="Phone Number">
              <i class="pi pi-user"></i>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-6">
                <div class="form-content">
                  <input type="select" class="form-input" name="username" placeholder="Password">
                  <i class="pi pi-user"></i>
                </div>
              </div>

              <!-- <div class="col-6">
                <div class="form-content">
                  <input type="select" class="form-input" name="username" placeholder="Password">
                  <i class="pi pi-user"></i>
                </div>
              </div> -->

            </div>
            <div class="col-12">
              <div class="form-content">
                <input type="file" class="form-input" name="username" placeholder="Upload your resume">
                <i class="pi pi-upload"></i>
              </div>
            </div>
          </div>
          <div class="col-12">
            <input type="submit" class="form-button" value="Sign Up">
          </div>
        </div>




      </form>
    </div>

  </div>
</div>
