<div class="auth-form p-t-12">
  <div class="container">
    <div class="firstdiv ">
      <div class="row justify-content-end">
        <div class="col-lg-6 col-md-8 col-11">
          <div class="global-card p-sm-5 p-4 align-items-end">
            <!-- <div class="d-flex justify-content-end gap-2">
            <app-language-selector></app-language-selector>
          </div> -->
            <div class="content">
              <h2 class="text-center"> {{'general.yourprofile'|translate}}</h2>
            </div>
            <form [formGroup]="signUpForm" (ngSubmit)="submit()" class="pt-3 sign_up">
              <app-file-upload></app-file-upload>
              <!-- Phone Number -->
              <div class="mb-4">
                <input type="text" class="form-control bg-gray" formControlName="username" autocomplete="cc-name"
                  (input)="publicService?.clearValidationErrors(formControls?.username)"
                  [class.is-invalid]="formControls?.username?.invalid && (formControls?.username?.dirty || formControls?.username?.touched)"
                  placeholder="{{'placeholder.mobilePhone'|translate}}">
                <!-- <div class="mt-3">
                  <ng-container
                    *ngIf="formControls?.username?.invalid && (formControls?.username?.dirty || formControls?.username?.touched)">
                    <ng-container *ngIf="formControls?.username?.errors?.['required']">
                      <span class="text-danger fs-8 ps-3">
                        {{'validations.requiredEmail'|translate}}
                      </span>
                    </ng-container>
                    <ng-container *ngIf="formControls?.username?.errors?.['pattern']">
                      <span class="text-danger fs-8 d-block ps-3">
                        {{'validations.not_valid'|translate}}
                      </span>
                    </ng-container>
                    <ng-container *ngIf="formControls?.username?.errors?.['minlength']">
                      <span class="text-danger fs-8 d-block ps-3">
                        {{'validations.length'|translate}}
                      </span>
                    </ng-container>
                  </ng-container>
                </div> -->
              </div>
              <div>
                <div class="row">
                  <div class="col-xl-6 mb-4">
                    <!-- State-->
                    <div>
                      <div class=" flex justify-content-center">
                        <p-treeSelect placeholder="{{'placeholder.country'|translate}}" [options]="countries"
                          class="bg-gray" [filter]="true" [filterInputAutoFocus]="true"></p-treeSelect>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6 mb-4">
                    <div>
                      <div class=" flex justify-content-center">
                        <p-treeSelect placeholder="{{'placeholder.state'|translate}}" [options]="countries"
                          [filter]="true" [filterInputAutoFocus]="true"></p-treeSelect>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="col-md-6">
                    <div class="mb-3">
                      <label for="name" class="mb-2 required">{{'labels.district'|translate}}</label>
                      <span class="p-input-icon-right select-loading d-block">
                        <p-dropdown [options]="districtsList" formControlName="district"
                          [optionLabel]="currLang=='ar'?'arName':'enName'" [filter]="true" (onChange)="onChangeDistrict($event)"
                          (onClear)="onClearDistrict()" [virtualScroll]="true" [virtualScrollItemSize]="38" filterBy="name"
                          appendTo="body" [filterPlaceholder]="'placeholder.district'|translate" [readonly]="isLoadingDistricts"
                          scrollHeight="150px" emptyMessage="{{'general.no_result_found'|translate}}"
                          [class.ng-dirty]="formControls?.propertyType?.invalid && (formControls?.propertyType?.dirty || formControls?.propertyType?.touched)"
                          [showClear]="true" placeholder="{{'placeholder.district'|translate}}">
                        </p-dropdown>
                        <ng-container *ngIf="isLoadingDistricts">
                          <i class="pi pi-spin pi-spinner"></i>
                        </ng-container>
                      </span>
                      <div class="mt-2">
                        <ng-container
                          *ngIf="formControls?.district?.invalid && (formControls?.district?.dirty || formControls?.district?.touched)">
                          <ng-container *ngIf="formControls?.district?.errors?.['required']">
                            <span class="text-danger fs-8">
                              {{'validations.required_field'|translate}}
                            </span>
                          </ng-container>

                          <ng-container *ngIf="formControls?.district?.errors?.['minlength']">
                            <span class="text-danger fs-8 d-block">
                              {{'validations.length'|translate}}
                            </span>
                          </ng-container>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label class="form-label required">
                        {{"labels.supervisor"|translate}}
                      </label>
                      <span class="p-input-icon-right select-loading d-block">
                        <p-dropdown [options]="supervisorsList" formControlName="supervisor" optionLabel="name" [filter]="true"
                          [virtualScroll]="true" [virtualScrollItemSize]="38" filterBy="name" appendTo="body"
                          [filterPlaceholder]="'placeholder.search'|translate" [readonly]="isLoadingSupervisors"
                          scrollHeight="150px" emptyMessage="{{'general.no_result_found'|translate}}"
                          (onChange)="onChangeSupervisor($event)" (onClear)="onClearSupervisor()"
                          [class.ng-dirty]="formControls?.supervisor?.invalid && (formControls?.supervisor?.dirty || formControls?.supervisor?.touched)"
                          [showClear]="true" placeholder="{{'placeholder.supervisor'|translate}}">
                        </p-dropdown>
                        <ng-container *ngIf="isLoadingSupervisors">
                          <i class="pi pi-spin pi-spinner"></i>
                        </ng-container>
                      </span>
                      <div class="my-2">
                        <ng-container
                          *ngIf="formControls?.supervisor?.invalid && (formControls?.supervisor?.dirty || formControls?.supervisor?.touched)">
                          <ng-container *ngIf="formControls?.supervisor?.errors?.['required']">
                            <span class="text-danger fs-8">
                              {{"validations.required_field"|translate}}
                            </span>
                          </ng-container>
                        </ng-container>
                      </div>
                      <ng-container *ngIf="!orderForm?.value?.district">
                        <div class=" my-2">
                          <span class="info-color fs-8 d-flex align-items-center gap-1">
                            <i class="pi pi-info-circle"></i>
                            <span>
                              {{"warning.selectDistrictFirst"|translate}}
                            </span>
                          </span>
                        </div>
                      </ng-container>

                    </div>
                  </div> -->

                </div>
              </div>
              <!-- uplode file  -->
              <div class="mb-4">
                <div class="input-container form-control">
                  <i class="pi pi-upload"></i>
                  <input type="file" name="file" id="file" class="inputfile bg-gray" />
                  <label for="file"> {{'placeholder.UploadResume'|translate}}</label>
                  <!-- <input type="file" name="file" id="file" class="inputfile" multiple class="form-control"
                    formControlName="username" autocomplete="cc-name"
                    (input)="publicService?.clearValidationErrors(formControls?.username)"
                    [class.is-invalid]="formControls?.username?.invalid && (formControls?.username?.dirty || formControls?.username?.touched)"
                    placeholder="{{'placeholder.mobilePhone'|translate}}"> -->

                </div>


                <!-- <div class="mt-3">
    <ng-container
      *ngIf="formControls?.username?.invalid && (formControls?.username?.dirty || formControls?.username?.touched)">
      <ng-container *ngIf="formControls?.username?.errors?.['required']">
        <span class="text-danger fs-8 ps-3">
          {{'validations.requiredEmail'|translate}}
        </span>
      </ng-container>
      <ng-container *ngIf="formControls?.username?.errors?.['pattern']">
        <span class="text-danger fs-8 d-block ps-3">
          {{'validations.not_valid'|translate}}
        </span>
      </ng-container>
      <ng-container *ngIf="formControls?.username?.errors?.['minlength']">
        <span class="text-danger fs-8 d-block ps-3">
          {{'validations.length'|translate}}
        </span>
      </ng-container>
    </ng-container>
  </div> -->
                <!-- <app-upload-image [maxFileSize]="100000" [acceptFille]="'image/*'" [multiple]="false"
                  [enablePreview]="false" (filesHandler)="getUploadFiles($event)" [type]="'image'"></app-upload-image> -->
                <!-- <app-file-upload (uploadHandler)="uploadFile($event)"></app-file-upload> -->
              </div>
              <button type="submit" class="btn w-100 btn-solid-main form-btn formcontrol-auth"
                routerLink="/auth/signup">
                <span>
                  {{'form.signUp'|translate}}
                </span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>