#home {
  .container-fluid {
    --bs-gutter-x: 3.5rem !important;
  }
  .card-title {
    opacity: 0.7;
  }
  .person-img {
    width: 75px;
    height: 75px;
    margin-top: -3rem;
    border: 1px solid #fff;
  }
  .applied-jobs {
    border-right: 1px solid var(--user-border-color);
  }

  .number {
    color: #a6c9eb;
  }
  .hiringAreas {
    max-height: 225px;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar-track {
      border-radius: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--bg-main-color);
      border-radius: 0.5rem;
    }
  }
  .hiring-img {
    border: 1px solid var(--bg-main-color);
    padding: 10px;
    .hiring-img-w {
      min-width: 35px;
      width: 35px;
    }
  }
  .visit-btn {
    background: #ebeef5;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #3a5380;
    padding: 7px 17px;
  }
  .recent-content {
    color: #3d4c57;
    max-height: calc(100vh - 180px);
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar-track {
      border-radius: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--bg-main-color);
      border-radius: 0.5rem;
    }
  }
  .recommended {
    --bs-gutter-x: 0.7rem;
    --bs-gutter-y: 0.7rem;
  }
  .recommended-content {
    max-height: calc(100vh - 250px);
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar-track {
      border-radius: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--bg-main-color);
      border-radius: 0.5rem;
    }
  }
  .recomended-content {
    background-color: var(--bg-small-card-color);
    box-shadow: var(--small-card-shadow);
    border-radius: 8px;
    .recommended-img {
      width: 70px;
      height: 70px;
    }
  }
  .search-content {
    margin-bottom: 1.2rem;
  }
  .no-data {
    width: 200px;
  }
}
:host ::ng-deep {
  label.star {
    padding: 3px !important;
    font-size: 14px !important;
    color: #f8b84e !important;
  }
  input.star:checked ~ label.star:before {
    color: #f8b84e !important;
  }
  hr {
    border-top: 1px solid var(--user-border-color) !important;
    opacity: 1 !important;
  }
}
