<div class="mt-3" id="profile-modal">
  <ng-container *ngIf="isLoading; else noLoading">
    <div class="p-4">
      <app-skeleton [type]="'profile-modal'"></app-skeleton>
    </div>
  </ng-container>
  <ng-template #noLoading>
    <div class="px-4">
      <h5 class="fw-bold fs-5 text-main-color mb-3 content-p">{{'general.contactInfo'|translate}}</h5>
      <form [formGroup]="profileForm" class="pt-2">
        <div class="mb-2">
          <div class="input-container">
            <label for="fullName" class="mb-1 text-main-color  label required">
              {{'placeholder.fullname'|translate}}
            </label>
            <input type="text" class="form-control" formControlName="fullName" autocomplete="cc-name"
              (input)="publicService.clearValidationErrors(formControls?.fullName)"
              [class.is-invalid]="formControls?.fullName?.invalid && (formControls?.fullName?.dirty || formControls?.fullName?.touched)"
              placeholder="{{'placeholder.fullname'|translate}}">
          </div>
          <ng-container
            *ngIf="formControls?.fullName?.invalid && (formControls?.fullName?.dirty || formControls?.fullName?.touched)">
            <div class="mt-1">
              <ng-container *ngIf="formControls?.fullName?.errors?.['required']">
                <span class="text-danger fs-8">
                  {{'validations.required_field'|translate}}
                </span>
              </ng-container>
              <ng-container *ngIf="formControls?.fullName?.errors?.['minlength']">
                <span class="text-danger fs-8 d-block">
                  {{'validations.length'|translate}}
                </span>
              </ng-container>
            </div>
          </ng-container>
        </div>
        <div class="mb-2">
          <div class="input-container">
            <label for="email" class="mb-1 text-main-color label required">
              {{'placeholder.email'|translate}}
            </label>
            <input type="email" class="form-control" formControlName="email" autocomplete="cc-name"
              (input)="publicService.clearValidationErrors(formControls?.email)"
              [class.is-invalid]="formControls?.email?.invalid && (formControls?.email?.dirty || formControls?.email?.touched)"
              placeholder="{{'placeholder.email'|translate}}">
          </div>
          <ng-container
            *ngIf="formControls?.email?.invalid && (formControls?.email?.dirty || formControls?.email?.touched)">
            <div class="mt-1">
              <ng-container *ngIf="formControls?.email?.errors?.['required']">
                <span class="text-danger fs-8">
                  {{'validations.requiredEmail'|translate}}
                </span>
              </ng-container>
              <ng-container *ngIf="formControls?.email?.errors?.['pattern']">
                <span class="text-danger fs-8 d-block">
                  {{'validations.not_valid'|translate}}
                </span>
              </ng-container>
              <ng-container *ngIf="formControls?.email?.errors?.['minlength']">
                <span class="text-danger fs-8 d-block">
                  {{'validations.emailNotCorrect'|translate}}
                </span>
              </ng-container>
            </div>
          </ng-container>
        </div>
        <div class="mb-2">
          <label for="mobilePhone" class="mb-1 text-main-color label required">
            {{'placeholder.mobilePhone'|translate}}
          </label>
          <div
            [class.border-red]="(formControls?.['phone_number']?.touched || formControls?.['phone_number']?.dirty) && formControls?.['phone_number']?.invalid">
            <ngx-intl-tel-input class="intel-tel-input" [preferredCountries]="[
            CountryISO.Egypt,
            CountryISO.UnitedStates
          ]" [enableAutoCountrySelect]="false" [enablePlaceholder]="true" [searchCountryFlag]="true"
              [searchCountryField]="[
            SearchCountryField.Iso2,
            SearchCountryField.Name
          ]" [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.Egypt" [maxLength]="15"
              [phoneValidation]="true" name="phone_number" formControlName="phone_number"
              (input)="publicService?.clearValidationErrors(formControls?.phone_number)"
              (countryChange)="formControls?.phone_number?.reset()">
            </ngx-intl-tel-input>
          </div>
          <ng-container
            *ngIf="formControls?.phone_number?.invalid && (formControls?.phone_number?.dirty || formControls?.phone_number?.touched)">
            <div class="mt-1">
              <ng-container *ngIf="formControls?.phone_number?.errors?.['required']">
                <span class="text-danger fs-8">
                  {{'validations.required_field'|translate}}
                </span>
              </ng-container>
              <ng-container *ngIf="formControls?.phone_number?.errors?.['validatePhoneNumber']">
                <span class="text-danger fs-8">
                  {{'validations.phoneNotCorrect'|translate}}
                </span>
              </ng-container>
            </div>
          </ng-container>
        </div>
        <div class="mb-2">
          <label for="mobilePhone" class="mb-1 text-main-color label required">
            {{'placeholder.country'|translate}}
          </label>
          <span class="p-input-icon-right select-loading d-block">
            <p-dropdown [options]="countries" formControlName="country" optionLabel="name" [filter]="true"
              [virtualScroll]="true" [virtualScrollItemSize]="38" filterBy="name" appendTo="body"
              [filterPlaceholder]="'placeholder.search'|translate" [readonly]="isLoadingCountry"
              (onChange)="onChangeCountry($event)" emptyMessage="{{'general.no_result_found'|translate}}"
              [class.ng-dirty]="formControls?.country?.invalid && (formControls?.country?.dirty || formControls?.country?.touched)"
              [showClear]="true" placeholder="{{'placeholder.country'|translate}}">
            </p-dropdown>
            <ng-container *ngIf="isLoadingCountry">
              <i class="pi pi-spin pi-spinner"></i>
            </ng-container>
          </span>
          <ng-container
            *ngIf="formControls?.country?.invalid && (formControls?.country?.dirty || formControls?.country?.touched)">
            <div class="mt-1">
              <ng-container *ngIf="formControls?.country?.errors?.['required']">
                <span class="text-danger fs-8">
                  {{"validations.required_field"|translate}}
                </span>
              </ng-container>
            </div>
          </ng-container>
        </div>
        <div class="mb-2">
          <label for="mobilePhone" class="mb-1 text-main-color label required">
            {{'placeholder.city'|translate}}
          </label>
          <span class="p-input-icon-right select-loading d-block">
            <p-dropdown [options]="cities" formControlName="city" optionLabel="name" [filter]="true"
              [filterPlaceholder]="'placeholder.search'|translate" [virtualScroll]="true" [virtualScrollItemSize]="38"
              filterBy="name" appendTo="body" [readonly]="isLoadingCountry"
              emptyMessage="{{'general.no_result_found'|translate}}"
              [class.ng-dirty]="formControls?.city?.invalid && (formControls?.city?.dirty || formControls?.city?.touched)"
              [showClear]="true" placeholder="{{'placeholder.city'|translate}}">
            </p-dropdown>
          </span>
          <ng-container
            *ngIf="formControls?.city?.invalid && (formControls?.city?.dirty || formControls?.city?.touched)">
            <div class="mt-1">
              <ng-container *ngIf="formControls?.city?.errors?.['required']">
                <span class="text-danger fs-8">
                  {{"validations.required_field"|translate}}
                </span>
              </ng-container>
            </div>
          </ng-container>
        </div>
        <div class="profile-birthDate">
          <label for="mobilePhone" class="mb-1 text-main-color label required">
            {{'placeholder.birthDate'|translate}}
          </label>
          <div
            [class.border-red]="formControls?.birthDate?.invalid && (formControls?.birthDate?.dirty || formControls?.birthDate?.touched)">
            <p-calendar formControlName="birthDate" [showIcon]="true" inputId="icon" placeholder="DD.MM.YY"
              [showButtonBar]="true" dateFormat="dd.mm.yy" hourFormat="12"></p-calendar>
          </div>
          <ng-container
            *ngIf="formControls?.birthDate?.invalid && (formControls?.birthDate?.dirty || formControls?.birthDate?.touched)">
            <div class=" mt-1">
              <ng-container *ngIf="formControls?.birthDate?.errors?.['required']">
                <span class="text-danger fs-8">
                  {{"validations.required_field"|translate}}
                </span>
              </ng-container>
            </div>
          </ng-container>
        </div>
        <small class="w-50 w-sm-100 mt-4 d-block">{{'profile.submitApplication'|translate}} <span
            class="text-main-color">{{'general.helpCenter'|translate}}</span></small>
      </form>
    </div>
    <hr>
    <div class="d-flex gap-3 align-items-center justify-content-end p-4 pt-2 flex-wrap">
      <a (click)="cancel()" class="text-main-color">{{'general.cancel'|translate}}</a>
      <button (click)="submit()" class="btn btn-solid-main rounded-pill py-1">{{'general.save'|translate}}</button>
    </div>
  </ng-template>
</div>