.assess {
  border: 1px solid #ccc;
  padding: 3px 15px;
  font-size: 14px;
  background-color: #254472;
  color: #fff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.person-img {
  width: 30px;
  height: 30px;
}
