.auth-form {
  .firstdiv {
    background-image: url(../../../../assets/images/auth/login.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: var(--border-radius-card);
  }
  .content {
    h2 {
      font-size: 1.7rem;
      // padding-bottom: 10px !important;
      color: var(--text-main-color);
    }
    h3 {
      font-size: 20px;
      color: var(--grey-100);
      text-align: initial;
    }
  }
  .or-span {
    display: block;
    margin: 0 47% auto;
    padding: 20px 0;
    color: var(--grey-100);
  }
  span {
    display: block;
    margin: -10px auto;
  }
}
