.user-info {
  .user-img-parent {
    width: 2rem;
    height: 2rem;
    .user-img {
      border: 2px solid var(--text-white-color);
    }
  }

  .user-info-menu {
    width: 18rem;
    top: 3.6rem !important;
  }
  .submenu {
    top: 40px !important;
  }
  .fa-circle {
    font-size: 10px;
  }
  .dropdown-toggle {
    border: 1px solid var(--bg-main-color) !important;
    border-radius: 50px;
    background-color: var(--bg-white-color);
    padding: 5px 7px;
    &::after {
      display: block !important;
      color: var(--text-dark-color) !important;
    }
  }
}
