.fileupload {
  width: 35%;
  margin: auto;
  .cust-rounded {
    // width: 75%;
    // padding: 20px;
    // height: 50%;
    border-radius: 50%;
    border: 6px solid #9aa8be;
    overflow: hidden;
    margin-bottom: 15px;
    .dropzone {
      height: 130px;
      display: table;
      width: 100%;
      display: flex;
      flex-direction: column-reverse;

      .text-wrapper {
        // display: table-cell;
        vertical-align: bottom;
        background-color: #9aa8be;
        position: relative;
        font-size: 1rem;
        color: var(--white);
        cursor: pointer;
        z-index: 1;
        i {
          z-index: -1;
          font-size: 100px;
          top: -50%;
          position: absolute;
          right: 50%;
          transform: translate(50%, -50%);
          color: #9aa8be;
        }
        .centered {
          font-size: 1rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          // margin-top: 50%;
          z-index: 1;
          input[type="file"] {
            display: none;
          }
        }
      }
    }
  }
}

// .textLink {
//   background-color: #f45e61;
//   color: #fff;
//   padding: 10px;
//   border-radius: 5px;
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
// }
// .textLink::before {
//   content: "\f093";
//   font-family: "Font Awesome 5 Free";
//   font-weight: 900;
//   color: #fff;
//   font-size: large;
//   margin-right: 10px;
// }

// .add-profile {
//   font-weight: 600;
//   font-size: 14px;
//   line-height: 20px;
//   text-transform: capitalize;
//   color: #000000;
// }
// .fileItem {
//   width: calc(25% - 6px);
//   overflow: hidden;
//   height: fit-content;
//   margin: 3px;
//   padding: 10px;
//   display: block;
//   position: relative;
//   float: left;
//   border: 2px dashed #778899;
//   border-radius: 5px;
//   transition: 0.3s ease;
// }
// .fileItem:hover {
//   border: 2px solid #c33838;
//   background-color: #c33838bf;
// }
// .fileItem:hover .fileItemIcon::before {
//   content: "\f00d";
//   color: whitesmoke;
// }
// .fileItem:hover .fileItemText {
//   color: whitesmoke;
// }
// .fileItemIconDiv {
//   text-align: center;
// }
// .fileItemIcon::before {
//   font-style: normal;
//   content: "\f15b";
//   color: #778899;
//   font-family: "Font Awesome 5 Free";
//   font-weight: 900;
// }
// .fileItemText {
//   text-align: center;
//   margin-top: 10px;
//   height: 40px;
// }
