<div class="notification general-dropdown" (clickOutside)="collapse == true ? (collapse = false) : ''">
  <div class="dropdown">
    <button class="btn dropdown-toggle p-0 position-relative" type="button" [attr.aria-expanded]="!collapse"
      (click)="collapse = !collapse">
      <i class="fas fa-bell fs-4 text-dark-color"></i>
      <!-- <i class="far fa-bell fs-4 text-white-color"></i> -->
      <!-- <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-bell"
        viewBox="0 0 16 16">
        <path
          d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
      </svg> -->
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-danger">
        <ng-container *ngIf="unreadedNotification<=99; else plusBagde">
          {{unreadedNotification}}
        </ng-container>
        <ng-template #plusBagde>
          99+
        </ng-template>
      </span>
    </button>
    <ul class="dropdown-menu shadow border-0 rounded-25 p-0 overflow-hidden position-absolute"
      aria-labelledby="dropdownMenuButton1" [class.show]="collapse">
      <div class="d-flex justify-content-between align-items-center bg-main-color p-3 text-white-color">
        <h5 class="mb-0 fs-5-1">{{'general.notifications'|translate}}</h5>
        <i class="fas fa-gear"></i>
      </div>
      <!-- <ul class="nav nav-pills mb-3 m-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link fs-5" [ngClass]="{ active: activeCategory === 'all' }" (click)="onChangeCategory('all')">
            {{"notification.all"|translate}}
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link fs-5" [ngClass]="{ active: activeCategory === 'unread' }"
            (click)="onChangeCategory('unread')">
            {{"notification.unread"|translate}}
          </a>
        </li>
      </ul> -->
      <div class="notification-content ">
        <div class="mb-1" *ngFor="let item of notifications;let i = index">
          <div class="p-3 px-4 position-relative d-flex align-items-center gap-2 justify-content-between"
            [class.active-notification]="!item.seen">
            <div class="d-flex align-items-center gap-2">
              <img [src]="'https://dev-api.talentsgates.website/getimage/'+item.image"
                onerror="src='../../../../../../assets/images/not-found/no-notification.svg'"
                class="rounded-circle not-img shadow-sm" alt="">
              <div>
                <p class="fs-6 lh-1">{{item.content}}</p>
              </div>
            </div>
            <div class="d-flex flex-column align-items-center">
              <!-- <small class="mt-1 d-block d-flex justify-content-end">{{item.createdAt | timeago}}</small> -->
              <small class="text-desc-color fs-8">{{hoursDiffArray[i]}}h</small>
              <i class="fas fa-ellipsis-vertical fs-5"></i>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button class="border-0 my-3 bg-transparent text-main-color fw-bold">More Notifications</button>
        </div>
      </div>

    </ul>
  </div>
</div>