<div id="calender">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-8 order-lg-1 order-2 mt-lg-0 mt-3">
        <div class="global-card">
          <kendo-scheduler [kendoSchedulerBinding]="schedulerEvents" [selectedDate]="selectedDate"
            [showWorkHours]="false" style="height:  calc(100vh - 131px)" (eventClick)="onCellClick($event)"
            (navigate)="handleNavigation($event)">
            <kendo-scheduler-day-view> </kendo-scheduler-day-view>
            <kendo-scheduler-week-view> </kendo-scheduler-week-view>
            <kendo-scheduler-month-view> </kendo-scheduler-month-view>
          </kendo-scheduler>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 order-lg-2 order-1">
        <div class="calendar global-card p-1">
          <mat-calendar [selected]="selectedDate" (selectedChange)="onDateChange($event)"></mat-calendar>
        </div>
      </div>
    </div>
  </div>
</div>