<div id="calender">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-8 order-lg-1 order-2 mt-lg-0 mt-3">
        <div class="global-card">
          <kendo-scheduler [kendoSchedulerBinding]="schedulerEvents" [selectedDate]="selectedDate"
            [showWorkHours]="false" style="height:  calc(100vh - 131px)" (eventClick)="onCellClick($event)"
            (navigate)="handleNavigation($event)">
            <kendo-scheduler-day-view> </kendo-scheduler-day-view>
            <kendo-scheduler-week-view> </kendo-scheduler-week-view>
            <kendo-scheduler-month-view> </kendo-scheduler-month-view>
          </kendo-scheduler>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 order-lg-2 order-1">
        <div class="calendar global-card p-1">
          <mat-calendar [selected]="selectedDate" (selectedChange)="onDateChange($event)"></mat-calendar>
        </div>
      </div>
    </div>
  </div>
</div>

<div #boxdetails class="box-details py-3 px-4" style="background-color: #F3FDFF;
width: 393px;height: 213px; position: absolute; display: none;
z-index: 9999;border-radius: 10px;">

  <!-- ==========================icons====================== -->
  <div class="d-flex justify-content-end">
    <a (click)="onClose()" class="close d-flex justify-content-center align-items-center rounded-circle">
      <i class="pi pi-times"></i>
    </a>
  </div>
  <div class="icons d-flex justify-content-end" style="color:#5E5E5E;">

    <i class="bi bi-bell-fill me-3"></i>
    <i class="bi bi-clipboard2-x-fill me-3"></i>
    <i class="bi bi-three-dots-vertical me-3"></i>
    <i class="bi bi-x-lg "></i>
  </div>
  <p class="color-254472">{{interviewDetails?.title_interview }}</p>

  <p class="mb-0" style="font-size: 16" style="color: #1B2730;">
    {{interviewDetails?.company?.name_company}}
    <span style="font-size: 13px"><i style="color: #f8b84e" class="fa fa-star"></i>
      <i style="color: #f8b84e" class="fa fa-star"></i><i style="color: #f8b84e" class="fa fa-star"></i><i
        style="color: #f8b84e" class="fa fa-star"></i>
      <i style="color: #f8b84e" class="fa fa-star"></i>
    </span>
  </p>

  <p>Friday, 1 January . 2:00 - 3:00Pm</p>

  <!-- =============google meet========== -->
  <div class="d-flex align-items-center justify-content-center"
    style="border-radius: 13px;background-color: #EBEFF0;margin-bottom: 5px;width: 75%;">
    <img src="../../../assets//img/google meet.svg" style="width: 14px;height: 12px;margin-right: 7px;">
    <span class="me-4">Meet.google.com/bjh-dfg-ees</span>
    <i class="bi bi-clipboard"></i>
  </div>
  <!-- ==========================image people================== -->
  <div class="d-flex  align-items-center mt-4">
    <div class="d-flex align-items-center me-2">
      <img src="../../../assets//img/profile.jpeg"
        style="width: 20px;height: 20px;margin-right: 7px;border-radius: 50%;">
      <span style="font-size: 10px; color: #1B2730;">Monica maw</span>
    </div>
    <div class="d-flex align-items-center me-2">
      <img src="../../../assets//img/profile.jpeg"
        style="width: 20px;height: 20px;margin-right: 7px;border-radius: 50%">
      <span style="font-size: 10px; color: #1B2730;">Kalub Max</span>
    </div>
    <div class="d-flex align-items-center me-2">
      <img src="../../../assets//img/profile.jpeg"
        style="width: 20px;height: 20px;margin-right: 7px;border-radius: 50%">
      <span style="font-size: 10px; color: #1B2730;">Kalub Max</span>
    </div>
  </div>
</div>