#profile {
  .profile-bg {
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  .camera {
    top: 20px;
    right: 20px;
    background-color: var(--bg-white-color);
    bottom: 1px solid var(--bg-main-color);
    width: 30px;
    height: 30px;
  }
  .profile-img {
    min-width: 120px;
    height: 120px;
    margin-top: -65px;
    border: 2px solid var(--bg-white-color);
    z-index: 8;
    .plus {
      width: 30px;
      height: 30px;
      border: 2px solid var(--bg-white-color);
      right: 0px !important;
      top: 65%;
      z-index: 88;
      background-color: var(--bg-main-color);
    }
  }
  .rate {
    color: #91a1b8;
  }
  .address {
    color: #a6c9eb !important;
  }

  .analysies {
    background-color: #00c3fe24;
    border-radius: 8px;
    padding: 10px 5px;
    height: 100%;
    .title {
      font-size: 0.9rem;
      color: #1b2730;
    }
  }
  .w-90 {
    width: 90%;
  }
  .textarea {
    width: 100%;
    border-color: var(--bg-main-color);
    max-height: 6rem;
    border-radius: 6px;
  }
  .experiance-img,
  .dot {
    min-width: 45px;
    width: 45px;
    height: 45px;
  }
  .experiance-img {
    border: 1px solid var(--bg-white-color);
    box-shadow: 0 0.125rem 0.95rem rgba(0, 0, 0, 0.075) !important;
    object-fit: cover;
  }
  .pi-circle-fill {
    font-size: 0.5rem;
  }
  .showCredentials {
    border: 1px solid var(--bg-main-color);
  }
  .language {
    border: 2px solid var(--bg-main-color);
    width: 40px;
    height: 40px;
    background-color: #d6e3ec;
  }
  .recommended-content {
    background-color: var(--bg-small-card-color);
    box-shadow: var(--small-card-shadow);
    border-radius: 8px;
    .recommended-img {
      width: 75px;
      height: 75px;
    }
  }
  .content {
    max-height: calc(100vh - 250px);
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar-track {
      border-radius: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--bg-main-color);
      border-radius: 0.5rem;
    }
  }
  .recent-content {
    color: #3d4c57;
    max-height: calc(100vh - 180px);
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar-track {
      border-radius: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--bg-main-color);
      border-radius: 0.5rem;
    }
  }
  .search-content {
    margin-bottom: 1.2rem;
  }
  .content-info {
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar-track {
      border-radius: 0.5rem;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--bg-main-color);
      border-radius: 0.5rem;
    }
  }
}
:host ::ng-deep {
  label.star {
    padding: 3px 3px 0 3px !important;
    font-size: 22px !important;
    color: #f8b84e !important;
  }
  input.star:checked ~ label.star:before {
    color: #f8b84e !important;
  }
}
:host ::ng-deep {
  .recommended-content {
    label.star {
      padding: 3px !important;
      font-size: 14px !important;
      color: #f8b84e !important;
    }
    input.star:checked ~ label.star:before {
      color: #f8b84e !important;
    }
  }
}
.no-data {
  width: 200px;
}
.skills{
  color: #254472;
  font-size: 0.9rem;
}
