
/*START  DROPDOWN*/
.general-dropdown {
  .dropdown-menu {
    right: 0 !important;
    left: inherit !important;
  }
}

/*END  DROPDOWN*/

/*START COMPONENTS*/

/*END COMPONENTS*/

/*IMPORTING RESPONSIVE SCSS FILE*/
@import "./responsive.scss";
