
// placeholder

input[type]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder,
select.form-control.has-value {
  color: var(--bg-main-color) !important;
  font-size: 1rem;
}

input[type]:-moz-placeholder,
textarea:-moz-placeholder,
select:-moz-placeholder,
select.form-control.has-value {
  /* Firefox 18- */
  color: var(--text-desc-color);
  font-size: 1rem;
}

input[type]::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder,
select.form-control.has-value {
  /* Firefox 19+ */
  color: var(--text-desc-color);
  font-size: 1rem;
}



///////////////////////////

// input[type]:-ms-input-placeholder,
// textarea:-ms-input-placeholder,
// select:-ms-input-placeholder,
// select.form-control.has-value {
//   color: var(--text-desc-color);
//   font-size: 1rem;
// }

// input:-webkit-autofill {
//   -webkit-box-shadow: 0 0 0 1000px var(--bg-input-color) inset !important;
// }

// .form-check-input[type="checkbox"]:focus {
//   box-shadow: none;
// }

// .form-check-input[type="checkbox"]:focus-visible {
//   box-shadow: none;
// }

.form-check-input:checked {
  background-color: var(--bg-main-color);
  border-color: var(--text-main-color);
}

.form-control,
.form-control:focus,
.form-control:focus-visible,
.form-select,
.form-select:focus,
.form-select:focus-visible,
.ng-select.ng-select-single .ng-select-container,
.p-inputtext {
  box-shadow: none !important;
  outline: none !important;
  border-color: var(--border-color);
  height: 3.4rem;
  border-radius: var(--border-radius);
  padding: 2rem;
  background-color: var(--white);
  border-color:var(--bg-main-color);

}

.form-control-left {
  border-left: 0;
}

.input-group {
  .input-group-text {
    background-color: var(--bg-input-color) !important;
    border-color: var(--border-input-color);
    border-radius: var(--border-radius);

    .eyeIcon {
      color: var(--text-desc-color);
    }
  }

  .input-group-text-left {
    border-radius: var(--border-radius) 0 0 var(--border-radius) !important;
    border-right: transparent !important;
  }

  .input-group-text-right {
    border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
    border-left: transparent !important;
  }

  .form-control-single,
  .form-control-single:focus,
  .form-control-single:focus-within,
  .form-control-single:focus-visible {
    border-right: transparent;
  }
}

.form-control.is-valid,
.was-validated .form-control:valid {
  // background-image: url(../../assets/images/form/valid.svg) !important;
  border: 1px solid var(--border-color);
}

// .border-red {
//   border: 1px solid #dc3545 !important;
//   border-radius: var(--border-radius) !important;

//   .ng-select-container {
//     border: 0 !important;
//   }
//   .p-input-icon-right > .p-inputtext,
//   .p-calendar {
//     border: 0 !important;
//   }
// }

// .border-green {
//   border: 1px solid #198754 !important;
//   border-radius: 0.625rem !important;

//   .ng-select-container {
//     border: 0 !important;
//   }
// }

// .textarea {
//   height: 120px;
// }
.required {
  &:after {
    content: "*";
    color: #e24c4c;
    margin-left: 3px;
  }
}
.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-image: none !important;
}


// icon
.input-container {
  position: relative;

  i {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: var(--bg-main-color);
}

}

p-password .pi{
  font-family: "FontAwesome";
  font-size: 1.5rem;
  top: 30px;
  right: 2rem !important;
  color: var(--bg-main-color) !important;
}
p-password .pi-eye:before
{
  content: "\f023"

}

p-password .pi-eye-slash:before
{
  content: "\f3c1"
}

.sign_up .p-treeselect{
  border: 1px solid #3a5380 !important;
  border-radius: 3rem !important;
  padding: 0.5rem !important;
}


.p-treeselect-panel .p-treeselect-header .p-treeselect-filter-container .p-treeselect-filter {
  padding-right: 15rem;
}


.p-treeselect-panel .p-treeselect-header .p-treeselect-filter-container .p-inputtext {
  background-color: var(--bg-white-color) !important;
  height: 2rem !important;
}


