@media (min-width: 1300px) {
}

@media (max-width: 1200px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1024px) {
}

@media (max-width: 991px) {

  .navbar-nav {
    background-color: var(--bg-white-color) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    flex-direction: row !important;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 5px;
  }

  .register {
    background-image: none !important;
    form {
      // width: 725px;
      width: 100% !important;
      height: 646px;
      text-align: center;
      h2 {
        margin: 25px 20%;
        text-align: start;
      }
      .form-content {
        input {
          margin-bottom: 20px;
        }
      }
      .form-check-content {
        text-align: start;
        margin: 0 20% auto;
      }
    }
  }
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {

}

@media (max-width: 425px) {

}

@media (max-width: 375px) {

}

@media (max-width: 320px) {
}
