.fileupload {
  width: 35%;
  margin: auto;
  .cust-rounded {
    // width: 75%;
    // padding: 20px;
    // height: 50%;
    border-radius: 50%;
    border: 6px solid #9aa8be;
    overflow: hidden;
    margin-bottom: 15px;
    .dropzone {
      height: 130px;
      display: table;
      width: 100%;
      display: flex;
      flex-direction: column-reverse;

      .text-wrapper {
        // display: table-cell;
        vertical-align: bottom;
        background-color: #9aa8be;
        position: relative;
        font-size: 1rem;
        color: var(--white);
        cursor: pointer;
        z-index: 1;
        i {
          z-index: -1;
          font-size: 100px;
          top: -50%;
          position: absolute;
          right: 50%;
          transform: translate(50%, -50%);
          color: #9aa8be;
        }
        .centered {
          font-size: 1rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          // margin-top: 50%;
          z-index: 1;
          input[type="file"] {
            display: none;
          }
        }
      }
    }
  }
}
// :host::ng-deep {
//   #upload-image {
//     .p-fileupload {
//       display: flex !important;
//       flex-direction: row-reverse;
//       justify-content: space-between !important;
//       overflow: hidden;
//       .p-fileupload-buttonbar {
//         background-color: transparent;
//         border: 0 !important;
//         padding: 0;
//         .p-button-label {
//           display: none;
//         }
//         .p-button {
//           border-radius: 0 var(--dashboard-border-radius)
//             var(--dashboard-border-radius) 0;
//           border: 0;
//           background-color: #e24c4c;
//           opacity: 1 !important;
//           margin: 0;
//           height: 3.1rem;
//           .p-button-icon-left {
//             margin: 0;
//           }
//         }
//         .p-fileupload-choose {
//           background-color: var(--bg-main-color);
//         }
//       }
//       .p-fileupload-content {
//         border-color: var(--bg-main-color) !important;
//         border-radius: var(--dashboard-border-radius) 0 0
//           var(--dashboard-border-radius);
//         height: 3.1rem;
//         background-color: transparent;
//         border-right: 0;
//         padding: 5px;
//         align-items: center;
//         display: flex;
//         .p-progressbar {
//           display: none;
//         }
//         img {
//           border-radius: 50%;
//           width: 2.5rem;
//           height: 2.5rem;
//         }
//         width: 100% !important;
//         .p-fileupload-row {
//           & > div {
//             // display: none;
//             // padding: 0;
//             &:nth-of-type(1) {
//               display: block !important;
//             }
//           }
//         }
//       }
//     }
//     &.removeChoose .p-fileupload-buttonbar .p-fileupload-choose {
//       display: none !important;
//     }
//   }
//   .scaleX-rtl {
//     transform: scaleX(-1);
//   }
//   .p-message .p-message-wrapper {
//     padding: 0 !important;
//   }
//   .p-fileupload.p-fileupload-advanced .p-message {
//     margin-top: 15px !important;
//   }
// }
